.main-content {
    margin-top: 64px;
}

@media (min-width: 600px) {
    .main-content {
        margin-top: 64px;
        margin-left: 240px;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .main-content {
        margin-top: 64px;
        margin-left: 240px;
    }
}